<header class="section-header">{{localize "SWADE.Attributes"}}</header>
<div class="flexrow">
  <div class="attribute" data-attribute="agility">
    <button
      type="button"
      class="attribute-label"
      title="{{localize 'SWADE.Roll'}}"
    >
      {{ localize "SWADE.AttrAgi" }}
    </button>
    <span class="attribute-value flexrow">
      <select
        name="data.attributes.agility.die.sides"
        data-dtype="Number"
        style="background-image:url('systems/swade/assets/official/dice/d{{data.attributes.agility.die.sides}}.svg')"
      >
        {{#select data.attributes.agility.die.sides}} {{>
        "systems/swade/templates/die-sides-options.html"}} {{/select}}
      </select>
      <input
        name="data.attributes.agility.die.modifier"
        type="text"
        value="{{data.attributes.agility.die.modifier}}"
        data-dtype="Number"
      />
    </span>
  </div>
  <div class="attribute" data-attribute="smarts">
    <button
      type="button"
      class="attribute-label"
      title="{{localize 'SWADE.Roll'}}"
    >
      {{ localize "SWADE.AttrSma" }}{{#if
      data.attributes.smarts.animal}}(A){{/if}}
    </button>
    <span class="attribute-value flexrow">
      <select
        name="data.attributes.smarts.die.sides"
        data-dtype="Number"
        style="background-image:url('systems/swade/assets/official/dice/d{{data.attributes.smarts.die.sides}}.svg')"
      >
        {{#select data.attributes.smarts.die.sides}} {{>
        "systems/swade/templates/die-sides-options.html"}} {{/select}}
      </select>
      <input
        name="data.attributes.smarts.die.modifier"
        type="text"
        value="{{data.attributes.smarts.die.modifier}}"
        data-dtype="Number"
      />
    </span>
  </div>
  <div class="attribute" data-attribute="spirit">
    <button
      type="button"
      class="attribute-label"
      title="{{localize 'SWADE.Roll'}}"
    >
      {{ localize "SWADE.AttrSpr" }}
    </button>
    <span class="attribute-value flexrow">
      <select
        name="data.attributes.spirit.die.sides"
        data-dtype="Number"
        style="background-image:url('systems/swade/assets/official/dice/d{{data.attributes.spirit.die.sides}}.svg')"
      >
        {{#select data.attributes.spirit.die.sides}} {{>
        "systems/swade/templates/die-sides-options.html"}} {{/select}}
      </select>
      <input
        name="data.attributes.spirit.die.modifier"
        type="text"
        value="{{data.attributes.spirit.die.modifier}}"
        data-dtype="Number"
      />
    </span>
  </div>
  <div class="attribute" data-attribute="strength">
    <button
      type="button"
      class="attribute-label"
      title="{{localize 'SWADE.Roll'}}"
    >
      {{ localize "SWADE.AttrStr" }}
    </button>
    <span class="attribute-value flexrow">
      <select
        name="data.attributes.strength.die.sides"
        data-dtype="Number"
        style="background-image:url('systems/swade/assets/official/dice/d{{data.attributes.strength.die.sides}}.svg')"
      >
        {{#select data.attributes.strength.die.sides}}
        <option value="1">1</option>
        {{> "systems/swade/templates/die-sides-options.html"}} {{/select}}
      </select>
      <input
        name="data.attributes.strength.die.modifier"
        type="text"
        value="{{data.attributes.strength.die.modifier}}"
        data-dtype="Number"
      />
    </span>
  </div>
  <div class="attribute" data-attribute="vigor">
    <button
      type="button"
      class="attribute-label"
      title="{{localize 'SWADE.Roll'}}"
    >
      {{ localize "SWADE.AttrVig" }}
    </button>
    <span class="attribute-value flexrow">
      <select
        name="data.attributes.vigor.die.sides"
        data-dtype="Number"
        style="background-image:url('systems/swade/assets/official/dice/d{{data.attributes.vigor.die.sides}}.svg')"
      >
        {{#select data.attributes.vigor.die.sides}} {{>
        "systems/swade/templates/die-sides-options.html"}} {{/select}}
      </select>
      <input
        name="data.attributes.vigor.die.modifier"
        type="text"
        value="{{data.attributes.vigor.die.modifier}}"
        data-dtype="Number"
      />
    </span>
  </div>
</div>
