<li class="gear-card item" data-item-id="{{_id}}">
  <header class="flexrow card-header">
    <div class="item-image" style="background-image: url('{{img}}')"></div>
    <button type="button" class="item-name">{{name}}</button>
    <div class="item-controls">
      <button type="button" class="item-control item-show">
        <i class="far fa-comment-alt"></i>
      </button>
    </div>
  </header>
  <div class="card-content" style="display: none;">
    <div class="flexrow">
      <div>{{localize "SWADE.Parry"}}: {{data.parry}}</div>
      <div>{{localize "SWADE.Cover"}}: {{data.cover}}</div>
    </div>
    <div class="chips">{{localize "SWADE.Notes"}}: {{data.notes}}</div>
  </div>
</li>
