<p>{{localize "SWADE.ActionCard"}}</p>
<fieldset style="margin-bottom: 3px;">
  <div style="display: grid; grid-template-columns: repeat(4, 1fr);">
    {{#each cardList as |card| }} {{#unless card.isJoker}}
    <label title="{{card.name}}">
      <input
        type="radio"
        name="ActionCard"
        value="{{card.cardString}}"
        data-card-value="{{card.cardValue}}"
        data-suit-value="{{card.suitValue}}"
        {{checked
        card.isDealt}}
      />
      <span style="{{card.color}} {{card.isAvailable}}"
        >{{{card.cardString}}}</span
      >
    </label>
    {{/unless}} {{/each}}
  </div>
  <div
    style="display: grid; grid-template-columns: repeat({{numberOfJokers}}, 1fr); justify-items: center;"
  >
    {{#each cardList as |card| }} {{#if card.isJoker}}
    <label title="{{card.name}}">
      <input
        type="radio"
        name="ActionCard"
        value="{{card.cardString}}"
        data-card-value="{{card.cardValue}}"
        data-suit-value="{{card.suitValue}}"
        data-is-joker="true"
        {{checked
        card.isDealt}}
      />
      {{{card.cardString}}}
    </label>
    {{/if}} {{/each}}
  </div>
</fieldset>
