<ul class="effects-list">
  {{#each entity.effects}} {{#unless origin}}
  <li class="flexrow" data-effect-id="{{_id}}">
    <img src="{{icon}}" alt="{{label}}" class="effect-icon" />
    <span class="effect-label">{{label}}</span>
    <span class="effect-controls">
      <a class="effect-action" data-action="toggle">
        <i
          class="fas fa-power-off"
          style="{{#if disabled}}color: gray;{{/if}}"
        ></i>
      </a>
      <a class="effect-action" data-action="edit">
        <i class="fas fa-edit"></i>
      </a>
      <a class="effect-action" data-action="delete">
        <i class="fas fa-trash"></i>
      </a>
    </span>
  </li>
  {{/unless}} {{/each}}
</ul>
