<form class="{{cssClass}}" autocomplete="off">
  <main class="sheet-body">
    <section id="gm">
      <h2 class="module-header">{{localize "SWADE.GM"}}</h2>
      <div class="form-group">
        <label>{{localize "SWADE.GmBennies"}}</label>
        <div class="form-fields">
          <input
            type="text"
            name="settingRules.gmBennies"
            value="{{settingRules.gmBennies}}"
            data-dtype="Number"
          />
        </div>
        <p class="notes">{{localize "SWADE.GmBenniesDesc"}}</p>
      </div>
    </section>
    <section id="characters">
      <h2 class="module-header">{{localize "SWADE.Actors"}}</h2>
      <div class="form-group">
        <label>{{localize "SWADE.EnableConv"}}</label>
        <div class="form-fields">
          <input
            type="checkbox"
            name="settingRules.enableConviction"
            data-dtype="Boolean"
            {{checked
            settingRules.enableConviction}}
          />
        </div>
        <p class="notes">{{localize "SWADE.EnableConvDesc"}}</p>
      </div>
      <div class="form-group">
        <label>{{localize "SWADE.EnableWoundPace"}}</label>
        <div class="form-fields">
          <input
            type="checkbox"
            name="settingRules.enableWoundPace"
            data-dtype="Boolean"
            {{checked
            settingRules.enableWoundPace}}
          />
        </div>
        <p class="notes">{{localize "SWADE.EnableWoundPaceDesc"}}</p>
      </div>
      <h3>{{localize "SWADE.Ammo"}}</h3>
      <hr />
      <div class="form-group">
        <label>{{localize "SWADE.AmmoManagement"}}</label>
        <div class="form-fields">
          <input
            type="checkbox"
            name="settingRules.ammoManagement"
            data-dtype="Boolean"
            {{checked
            settingRules.ammoManagement}}
          />
        </div>
        <p class="notes">{{localize "SWADE.AmmoManagementDesc"}}</p>
      </div>
      <div class="form-group">
        <label>{{localize "SWADE.PCAmmoFromInventory"}}</label>
        <div class="form-fields">
          <input
            type="checkbox"
            name="settingRules.ammoFromInventory"
            data-dtype="Boolean"
            {{checked
            settingRules.ammoFromInventory}}
          />
        </div>
        <p class="notes">{{localize "SWADE.PCAmmoFromInventoryDesc"}}</p>
      </div>
      <div class="form-group">
        <label>{{localize "SWADE.NPCAmmoFromInventory"}}</label>
        <div class="form-fields">
          <input
            type="checkbox"
            name="settingRules.npcAmmo"
            data-dtype="Boolean"
            {{checked
            settingRules.npcAmmo}}
          />
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "SWADE.VehicleAmmoFromInventory"}}</label>
        <div class="form-fields">
          <input
            type="checkbox"
            name="settingRules.vehicleAmmo"
            data-dtype="Boolean"
            {{checked
            settingRules.vehicleAmmo}}
          />
        </div>
      </div>
      <section id="ammo"></section>
    </section>
    <section id="vehicles">
      <h2 class="module-header">{{localize "SWADE.Vehicles"}}</h2>
      <div class="form-group">
        <label>{{localize "SWADE.VehicleMods"}}</label>
        <div class="form-fields">
          <input
            type="checkbox"
            name="settingRules.vehicleMods"
            data-dtype="Boolean"
            {{checked
            settingRules.vehicleMods}}
          />
        </div>
        <p class="notes">{{localize "SWADE.VehicleModsDesc"}}</p>
      </div>
      <div class="form-group">
        <label>{{localize "SWADE.VehicleEdges"}}</label>
        <div class="form-fields">
          <input
            type="checkbox"
            name="settingRules.vehicleEdges"
            data-dtype="Boolean"
            {{checked
            settingRules.vehicleEdges}}
          />
        </div>
        <p class="notes">{{localize "SWADE.VehicleEdgesDesc"}}</p>
      </div>
    </section>
    <section class="attributes" id="setting-specific">
      <h2 class="module-header">
        {{localize "SWADE.AddStats"}}
      </h2>
      <h3>{{localize "SWADE.Actors"}}</h3>
      <ul class="stats-container">
        <li class="attribute attributes-header">
          <span class="attribute-key">Stat Key</span>
          <span class="attribute-label">Label</span>
          <span class="attribute-dtype">Data Type</span>
          <span class="attribute-maxValue">Has Max Value</span>
          <!-- <span class="attribute-autoEnable"
            >Auto enable on Entity creation</span
          > -->
          <a class="attribute-control" data-action="createChar"
            ><i class="fas fa-plus"></i
          ></a>
        </li>
        {{#each actorSettingStats as |attr key|}}
        <li class="attribute" data-attribute="{{key}}">
          <input
            class="attribute-key"
            type="text"
            name="actorSettingStats.{{key}}.key"
            value="{{key}}"
          />
          <input
            class="attribute-label"
            type="text"
            name="actorSettingStats.{{key}}.label"
            value="{{attr.label}}"
          />
          <select
            class="attribute-dtype"
            name="actorSettingStats.{{key}}.dtype"
          >
            {{#select attr.dtype}} {{#each ../dtypes as |t|}}
            <option value="{{t}}">{{t}}</option>
            {{/each}} {{/select}}
          </select>
          <input
            class="attribute-maxValue"
            type="checkbox"
            name="actorSettingStats.{{key}}.hasMaxValue"
            {{checked
            attr.hasMaxValue}}
          />
          <!-- <input
            class="attribute-autoEnable"
            type="checkbox"
            name="actorSettingStats.{{key}}.autoEnable"
            {{checked
            attr.autoEnable}}
          /> -->
          <a class="attribute-control" data-action="delete"
            ><i class="fas fa-trash"></i
          ></a>
        </li>
        {{/each}}
      </ul>
      <hr />
      <h3>{{localize "SWADE.Items"}}</h3>
      <ul class="stats-container">
        <li class="attribute attributes-header">
          <span class="attribute-key">Stat Key</span>
          <span class="attribute-label">Label</span>
          <span class="attribute-dtype">Data Type</span>
          <span class="attribute-maxValue">Has Max Value</span>
          <!-- <span class="attribute-autoEnable"
            >Auto enable on Entity creation</span
          > -->
          <a class="attribute-control" data-action="createItem"
            ><i class="fas fa-plus"></i
          ></a>
        </li>
        {{#each itemSettingStats as |attr key|}}
        <li class="attribute" data-attribute="{{key}}">
          <input
            class="attribute-key"
            type="text"
            name="itemSettingStats.{{key}}.key"
            value="{{key}}"
          />
          <input
            class="attribute-label"
            type="text"
            name="itemSettingStats.{{key}}.label"
            value="{{attr.label}}"
          />
          <select class="attribute-dtype" name="itemSettingStats.{{key}}.dtype">
            {{#select attr.dtype}} {{#each ../dtypes as |t|}}
            <option value="{{t}}">{{t}}</option>
            {{/each}} {{/select}}
          </select>
          <input
            class="attribute-maxValue"
            type="checkbox"
            name="itemSettingStats.{{key}}.hasMaxValue"
            {{checked
            attr.hasMaxValue}}
          />
          <!-- <input
            class="attribute-autoEnable"
            type="checkbox"
            name="itemSettingStats.{{key}}.autoEnable"
            {{checked
            attr.autoEnable}}
          /> -->
          <a class="attribute-control" data-action="delete"
            ><i class="fas fa-trash"></i
          ></a>
        </li>
        {{/each}}
      </ul>
    </section>
  </main>
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit" id="submit">
      <i class="far fa-save"></i>{{localize "SETTINGS.Save"}}
    </button>
    <button type="reset" name="reset" id="reset">
      <i class="fas fa-undo"></i>{{localize "SETTINGS.Reset"}}
    </button>
  </footer>
</form>
