<span class="edges">
  <header class="section-header">
    <span class="name">{{localize "SWADE.Hindrances"}}</span>
    <button type="button" class="item-create controls" data-type="hindrance">
      <i class="fa fa-plus"></i>{{localize "SWADE.Add"}}
    </button>
  </header>
  <ul>
    {{#each itemsByType.hindrance}}
    <li class="edge-hindrance item" data-item-id="{{_id}}">
      <span class="flexrow">
        <img class="item-image" src="{{img}}" alt="{{name}}" />
        <span class="item-name">
          <button type="button">
            <span class="sr-only">{{localize "SWADE.Expand"}}</span> {{name}}
          </button>
        </span>
        <div class="item-controls">
          {{#if ../owner}}
          <button type="button" class="item-show">
            <i class="far fa-comment-alt"></i>
          </button>
          <button type="button" class="item-edit">
            <i class="fas fa-edit"></i>
          </button>
          {{/if}}
        </div>
      </span>
      <div class="description">{{enrich data.description}}</div>
    </li>
    {{/each}}
  </ul>
  <header class="section-header">
    <span class="name">{{localize "SWADE.Edges"}}</span>
    <button type="button" class="item-create controls" data-type="edge">
      <i class="fa fa-plus"></i>{{localize "SWADE.Add"}}
    </button>
  </header>
  <ul>
    {{#each itemsByType.edge}}
    <li class="edge-hindrance item" data-item-id="{{_id}}">
      <span class="flexrow">
        <img class="item-image" src="{{img}}" alt="{{name}}" />
        <span class="item-name">
          <button type="button">
            <span class="sr-only">{{localize "SWADE.Expand"}}</span> {{name}}
          </button>
        </span>
        <div class="item-controls">
          {{#if ../owner}}
          <button type="button" class="item-show">
            <i class="far fa-comment-alt"></i>
          </button>
          <button type="button" class="item-edit">
            <i class="fas fa-edit"></i>
          </button>
          {{/if}}
        </div>
      </span>
      <div class="description">{{enrich data.description}}</div>
    </li>
    {{/each}}
  </ul>
</span>
